extends layout



block content   
    script(src="/javascripts/prettify/prettify.js")
    script(src="/javascripts/docs.js")
    style.
        div.content {
            text-align:left;
        }
        input{
            background-color: #FFFFFF;
            border: 2px solid #5F7589;
            color: #5F7589;
            display: inline;
            font-family: 'Raleway',sans-serif;
            font-size: 12px;
            padding: 8px;
            width: 25%;
        }
        button.clear {
            background-color: #304252;
            border: 2px solid #304252;
            color: #FFFFFF;
            display: none;
            font-family: 'Raleway',sans-serif;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 2px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out 0s;
            cursor: pointer;
        }
        
    .wrapper
        .container
            .greycontainer
                .content
                    h3 JQuery Examples
                    h4 List All Ports
                    p This will return a listing of all the ports
                    pre.prettyprint.
                        var ports_url = "http://schedules.amfitir.com/ports";
                        $.getJSON(ports_url,
                            function(data) {
                                // do something with data here
                                console.log(data);
                        });
                    h5 example response
                    pre.prettyprint.
                        {
                                "_id": "52fbd6148e04800e6d55d042", // internal id - will never be used
                                "info": { // info object is information from UN Loccode and other GIS databases
                                    "multimodal": 0, 
                                    "country_code": "SG",
                                    "search_term": "Singapore SGSIN SG SINGAPORE", // any of these terms are searchable
                                    "id": 61210,
                                    "loc": null,
                                    "border_crossing": 0,
                                    "map_geocode": 1,
                                    "subdiv": null,
                                    "location": "",
                                    "latitude": 1.29016, // can be used with any mapping software
                                    "port_code_c": "SGSIN", // port code can be used to look up ports
                                    "last_geocode": null,
                                    "rail": 0,
                                    "wp_url": null,
                                    "subdiv2": null,
                                    "state_code": null,
                                    "population": 3547809,
                                    "name": "Singapore",
                                    "longitude": 103.852, // can be used with any mapping software
                                    "ocean": 1, // signifies whether this is an ocean port
                                    "airport": 1,
                                    "hit_count": 0,
                                    "found": 1,
                                    "port_code": "SIN", // 3 Letter Port code
                                    "road": 0
                                },
                                "name": "Singapore" // this is the name of the port from the Sailing Schedule source
                            }
                    h5 example
                    button#clear-get-ports.clear Clear
                    div#port-result
                    .button-box
                        a#get-ports.button(href="#") Run It!
                    // Get by port name
                    h4 Search for a port
                    p You can search for a port, by providing any part of a port name or port code
                    pre.prettyprint.
                        var port_query = "USSAV";
                        var ports_url = "http://schedules.amfitir.com/ports/search/"+port_query;
                        $.getJSON(ports_url,
                            function(data) {
                                // do something with data here
                                console.log(data);
                        });
                    h5 example
                    input#search-for-port(placeholder="search for a port...")
                    button#clear-search-ports.clear Clear
                    div#port-search-result.
                    .button-box
                        a#search-ports.button(href="#") Run It!
                        
                    // All Vessels
                    h4 List All Vessels
                    p This will return a listing of all the vessels
                    pre.prettyprint.
                        var ports_url = "http://schedules.amfitir.com/vessels";
                        $.getJSON(ports_url,
                            function(data) {
                                // do something with data here
                                console.log(data);
                        });
                    h5 example
                    button#clear-get-vessels.clear Clear
                    div#vessels-result
                    .button-box
                        a#get-vessels.button(href="#") Run It!
                    
                    // Get by vessel name
                    h4 All voyages for a Vessel
                    p You can get all voyages for a vessel by provding part or whole Vessel Name. This will return all voyages for the entire year
                    pre.prettyprint.
                        var vessel_query = "MAERSK";
                        var vessel_url = "http://schedules.amfitir.com/vessels/search/"+vessel_query;
                        $.getJSON(vessel_url,
                            function(data) {
                                // do something with data here
                                console.log(data);
                        });
                    h5 example
                    input#search-for-vessel(placeholder="search for a vessel...")
                    button#clear-search-vessel.clear Clear
                    div#vessel-search-result.
                    .button-box
                        a#search-vessel.button(href="#") Run It!
                    
                    
                    // Search Schedules
                    h4 Search Schedules
                    p. 
                        Given a start port, end port, start date and end date, you will be able to retrieve all voyages which fit those parameters. 
                        If start_date (when the ship leaves the start port) and end_date (when the ship arrives at the destination port) are provided then 
                        only voyages within those dates will be returned. The response will be sorted by date.
                    pre.prettyprint.
                        var schedule_url = "http://schedules.amfitir.com/find";
                        $.get(schedule_url,
                            {
                                start_port: "Durban", // can be name, port code, must resolve to 1 port
                                end_port: "Rotterdam", // use search for port to determine the appropriate port name
                                start_date: "2014-02-17", // must be in YYYY-MM-DD format
                                end_date: "2014-05-01" // must be in YYYY-MM-DD format
                            }
                            function(data) {
                                // do something with data here
                                console.log(data);
                        });
                    h5 example reponse
                    pre.prettyprint.
                        [
                            {
                                "carrier": "Maersk", // name of the carrier
                                "voyage": "142B", // voyage
                                "update_date": "2014-02-12T20:13:53.633Z", // when this schedule was sourced
                                "source": "http://sailingschedules2.maerskline.com/MaerskSailingSchedulesCustomerWeb/CustomerWebServlet?ssaction=com.saf.ss.cust.action.route.ShowSchedule&routeID=2093&format=html&liveworking=LIVE",
                                "vessel": "KATHERINE", // name of the vessel
                                "route": [
                                    /*
                                    This array is sorted by earliest ETA date
                                    This is the order in which the vessel will visit each port
                                    */
                                    {
                                        "port_info": {
                                            "latitude": -29.8556,
                                            "port_code": "ZADUR",
                                            "city_code": "DUR",
                                            "longitude": 31.0344,
                                            "country_code": "ZA"
                                        },
                                        "eta": "2014-02-21T00:00:00.000Z",
                                        "port": "Durban",
                                        "etd": "2014-02-23T00:00:00.000Z"
                                    },
                                    {
                                        "port_info": {
                                            "latitude": -33.9625,
                                            "port_code": "ZAPLZ",
                                            "city_code": "PLZ",
                                            "longitude": 25.6233,
                                            "country_code": "ZA"
                                        },
                                        "eta": "2014-02-26T00:00:00.000Z",
                                        "port": "Port Elizabeth",
                                        "etd": "2014-02-26T00:00:00.000Z"
                                    },
                                    {
                                        "port_info": {
                                            "latitude": -33.9191,
                                            "port_code": "ZACPT",
                                            "city_code": "CPT",
                                            "longitude": 18.422,
                                            "country_code": "ZA"
                                        },
                                        "eta": "2014-03-02T00:00:00.000Z",
                                        "port": "Cape Town",
                                        "etd": "2014-03-03T00:00:00.000Z"
                                    },
                                    {
                                        "port_info": {
                                            "latitude": 36.1276,
                                            "port_code": "ESALG",
                                            "city_code": "ALG",
                                            "longitude": -5.45279,
                                            "country_code": "ES"
                                        },
                                        "eta": "2014-03-16T00:00:00.000Z",
                                        "port": "Algeciras",
                                        "etd": "2014-03-16T00:00:00.000Z"
                                    },
                                    {
                                        "port_info": {
                                            "latitude": 51.9229,
                                            "port_code": "NLRTM",
                                            "city_code": "RTM",
                                            "longitude": 4.47846,
                                            "country_code": "NL"
                                        },
                                        "eta": "2014-03-19T00:00:00.000Z",
                                        "port": "Rotterdam",
                                        "etd": "2014-03-21T00:00:00.000Z"
                                    }
                                ]
                            },
                            {
                                "carrier": "Maersk",
                                "voyage": "142B",
                                "update_date": "2014-02-12T20:13:53.620Z",
                                "source": "http://sailingschedules2.maerskline.com/MaerskSailingSchedulesCustomerWeb/CustomerWebServlet?ssaction=com.saf.ss.cust.action.route.ShowSchedule&routeID=2093&format=html&liveworking=LIVE",
                                "vessel": "KEA",
                                "route": [
                                    {
                                        "port_info": {
                                            "latitude": -29.8556,
                                            "port_code": "ZADUR",
                                            "city_code": "DUR",
                                            "longitude": 31.0344,
                                            "country_code": "ZA"
                                        },
                                        "eta": "2014-02-28T00:00:00.000Z",
                                        "port": "Durban",
                                        "etd": "2014-03-02T00:00:00.000Z"
                                    },
                                    {
                                        "port_info": {
                                            "latitude": -33.9625,
                                            "port_code": "ZAPLZ",
                                            "city_code": "PLZ",
                                            "longitude": 25.6233,
                                            "country_code": "ZA"
                                        },
                                        "eta": "2014-03-05T00:00:00.000Z",
                                        "port": "Port Elizabeth",
                                        "etd": "2014-03-05T00:00:00.000Z"
                                    },
                                    {
                                        "port_info": {
                                            "latitude": -33.9191,
                                            "port_code": "ZACPT",
                                            "city_code": "CPT",
                                            "longitude": 18.422,
                                            "country_code": "ZA"
                                        },
                                        "eta": "2014-03-09T00:00:00.000Z",
                                        "port": "Cape Town",
                                        "etd": "2014-03-10T00:00:00.000Z"
                                    },
                                    {
                                        "port_info": {
                                            "latitude": 36.1276,
                                            "port_code": "ESALG",
                                            "city_code": "ALG",
                                            "longitude": -5.45279,
                                            "country_code": "ES"
                                        },
                                        "eta": "2014-03-23T00:00:00.000Z",
                                        "port": "Algeciras",
                                        "etd": "2014-03-23T00:00:00.000Z"
                                    },
                                    {
                                        "port_info": {
                                            "latitude": 51.9229,
                                            "port_code": "NLRTM",
                                            "city_code": "RTM",
                                            "longitude": 4.47846,
                                            "country_code": "NL"
                                        },
                                        "eta": "2014-03-26T00:00:00.000Z",
                                        "port": "Rotterdam",
                                        "etd": "2014-03-28T00:00:00.000Z"
                                    }
                                ]
                            },
                            {
                                "carrier": "Maersk",
                                "voyage": "142B",
                                "update_date": "2014-02-12T20:13:53.628Z",
                                "source": "http://sailingschedules2.maerskline.com/MaerskSailingSchedulesCustomerWeb/CustomerWebServlet?ssaction=com.saf.ss.cust.action.route.ShowSchedule&routeID=2093&format=html&liveworking=LIVE",
                                "vessel": "MOL CULLINAN",
                                "route": [
                                    {
                                        "port_info": {
                                            "latitude": -29.8556,
                                            "port_code": "ZADUR",
                                            "city_code": "DUR",
                                            "longitude": 31.0344,
                                            "country_code": "ZA"
                                        },
                                        "eta": "2014-03-08T00:00:00.000Z",
                                        "port": "Durban",
                                        "etd": "2014-03-10T00:00:00.000Z"
                                    },
                                    {
                                        "port_info": {
                                            "latitude": -33.9625,
                                            "port_code": "ZAPLZ",
                                            "city_code": "PLZ",
                                            "longitude": 25.6233,
                                            "country_code": "ZA"
                                        },
                                        "eta": "2014-03-12T00:00:00.000Z",
                                        "port": "Port Elizabeth",
                                        "etd": "2014-03-12T00:00:00.000Z"
                                    },
                                    {
                                        "port_info": {
                                            "latitude": -33.9191,
                                            "port_code": "ZACPT",
                                            "city_code": "CPT",
                                            "longitude": 18.422,
                                            "country_code": "ZA"
                                        },
                                        "eta": "2014-03-16T00:00:00.000Z",
                                        "port": "Cape Town",
                                        "etd": "2014-03-17T00:00:00.000Z"
                                    },
                                    {
                                        "port_info": {
                                            "latitude": 36.1276,
                                            "port_code": "ESALG",
                                            "city_code": "ALG",
                                            "longitude": -5.45279,
                                            "country_code": "ES"
                                        },
                                        "eta": "2014-03-30T00:00:00.000Z",
                                        "port": "Algeciras",
                                        "etd": "2014-03-30T00:00:00.000Z"
                                    },
                                    {
                                        "port_info": {
                                            "latitude": 51.9229,
                                            "port_code": "NLRTM",
                                            "city_code": "RTM",
                                            "longitude": 4.47846,
                                            "country_code": "NL"
                                        },
                                        "eta": "2014-04-02T00:00:00.000Z",
                                        "port": "Rotterdam",
                                        "etd": "2014-04-03T00:00:00.000Z"
                                    }
                                ]
                            },
                            {
                                "carrier": "Maersk",
                                "voyage": "142B",
                                "update_date": "2014-02-12T20:13:53.642Z",
                                "source": "http://sailingschedules2.maerskline.com/MaerskSailingSchedulesCustomerWeb/CustomerWebServlet?ssaction=com.saf.ss.cust.action.route.ShowSchedule&routeID=2093&format=html&liveworking=LIVE",
                                "vessel": "RHODOS",
                                "route": [
                                    {
                                        "port_info": {
                                            "latitude": -29.8556,
                                            "port_code": "ZADUR",
                                            "city_code": "DUR",
                                            "longitude": 31.0344,
                                            "country_code": "ZA"
                                        },
                                        "eta": "2014-03-22T00:00:00.000Z",
                                        "port": "Durban",
                                        "etd": "2014-03-24T00:00:00.000Z"
                                    },
                                    {
                                        "port_info": {
                                            "latitude": -33.9625,
                                            "port_code": "ZAPLZ",
                                            "city_code": "PLZ",
                                            "longitude": 25.6233,
                                            "country_code": "ZA"
                                        },
                                        "eta": "2014-03-26T00:00:00.000Z",
                                        "port": "Port Elizabeth",
                                        "etd": "2014-03-26T00:00:00.000Z"
                                    },
                                    {
                                        "port_info": {
                                            "latitude": -33.9191,
                                            "port_code": "ZACPT",
                                            "city_code": "CPT",
                                            "longitude": 18.422,
                                            "country_code": "ZA"
                                        },
                                        "eta": "2014-03-30T00:00:00.000Z",
                                        "port": "Cape Town",
                                        "etd": "2014-03-31T00:00:00.000Z"
                                    },
                                    {
                                        "port_info": {
                                            "latitude": 36.1276,
                                            "port_code": "ESALG",
                                            "city_code": "ALG",
                                            "longitude": -5.45279,
                                            "country_code": "ES"
                                        },
                                        "eta": "2014-04-13T00:00:00.000Z",
                                        "port": "Algeciras",
                                        "etd": "2014-04-13T00:00:00.000Z"
                                    },
                                    {
                                        "port_info": {
                                            "latitude": 51.9229,
                                            "port_code": "NLRTM",
                                            "city_code": "RTM",
                                            "longitude": 4.47846,
                                            "country_code": "NL"
                                        },
                                        "eta": "2014-04-16T00:00:00.000Z",
                                        "port": "Rotterdam",
                                        "etd": "2014-04-18T00:00:00.000Z"
                                    }
                                ]
                            },
                            {
                                "carrier": "Maersk",
                                "voyage": "143B",
                                "update_date": "2014-02-12T20:13:53.624Z",
                                "source": "http://sailingschedules2.maerskline.com/MaerskSailingSchedulesCustomerWeb/CustomerWebServlet?ssaction=com.saf.ss.cust.action.route.ShowSchedule&routeID=2093&format=html&liveworking=LIVE",
                                "vessel": "MOL CALEDON",
                                "route": [
                                    {
                                        "port_info": {
                                            "latitude": -29.8556,
                                            "port_code": "ZADUR",
                                            "city_code": "DUR",
                                            "longitude": 31.0344,
                                            "country_code": "ZA"
                                        },
                                        "eta": "2014-03-29T00:00:00.000Z",
                                        "port": "Durban",
                                        "etd": "2014-03-31T00:00:00.000Z"
                                    },
                                    {
                                        "port_info": {
                                            "latitude": -33.9625,
                                            "port_code": "ZAPLZ",
                                            "city_code": "PLZ",
                                            "longitude": 25.6233,
                                            "country_code": "ZA"
                                        },
                                        "eta": "2014-04-02T00:00:00.000Z",
                                        "port": "Port Elizabeth",
                                        "etd": "2014-04-02T00:00:00.000Z"
                                    },
                                    {
                                        "port_info": {
                                            "latitude": -33.9191,
                                            "port_code": "ZACPT",
                                            "city_code": "CPT",
                                            "longitude": 18.422,
                                            "country_code": "ZA"
                                        },
                                        "eta": "2014-04-06T00:00:00.000Z",
                                        "port": "Cape Town",
                                        "etd": "2014-04-07T00:00:00.000Z"
                                    },
                                    {
                                        "port_info": {
                                            "latitude": 36.1276,
                                            "port_code": "ESALG",
                                            "city_code": "ALG",
                                            "longitude": -5.45279,
                                            "country_code": "ES"
                                        },
                                        "eta": "2014-04-20T00:00:00.000Z",
                                        "port": "Algeciras",
                                        "etd": "2014-04-20T00:00:00.000Z"
                                    },
                                    {
                                        "port_info": {
                                            "latitude": 51.9229,
                                            "port_code": "NLRTM",
                                            "city_code": "RTM",
                                            "longitude": 4.47846,
                                            "country_code": "NL"
                                        },
                                        "eta": "2014-04-23T00:00:00.000Z",
                                        "port": "Rotterdam",
                                        "etd": "2014-04-25T00:00:00.000Z"
                                    }
                                ]
                            },
                            {
                                "carrier": "Maersk",
                                "voyage": "142B",
                                "update_date": "2014-02-12T20:13:53.638Z",
                                "source": "http://sailingschedules2.maerskline.com/MaerskSailingSchedulesCustomerWeb/CustomerWebServlet?ssaction=com.saf.ss.cust.action.route.ShowSchedule&routeID=2093&format=html&liveworking=LIVE",
                                "vessel": "ALEXANDRA",
                                "route": [
                                    {
                                        "port_info": {
                                            "latitude": -29.8556,
                                            "port_code": "ZADUR",
                                            "city_code": "DUR",
                                            "longitude": 31.0344,
                                            "country_code": "ZA"
                                        },
                                        "eta": "2014-04-05T00:00:00.000Z",
                                        "port": "Durban",
                                        "etd": "2014-04-07T00:00:00.000Z"
                                    },
                                    {
                                        "port_info": {
                                            "latitude": -33.9625,
                                            "port_code": "ZAPLZ",
                                            "city_code": "PLZ",
                                            "longitude": 25.6233,
                                            "country_code": "ZA"
                                        },
                                        "eta": "2014-04-09T00:00:00.000Z",
                                        "port": "Port Elizabeth",
                                        "etd": "2014-04-09T00:00:00.000Z"
                                    },
                                    {
                                        "port_info": {
                                            "latitude": -33.9191,
                                            "port_code": "ZACPT",
                                            "city_code": "CPT",
                                            "longitude": 18.422,
                                            "country_code": "ZA"
                                        },
                                        "eta": "2014-04-13T00:00:00.000Z",
                                        "port": "Cape Town",
                                        "etd": "2014-04-14T00:00:00.000Z"
                                    },
                                    {
                                        "port_info": {
                                            "latitude": 36.1276,
                                            "port_code": "ESALG",
                                            "city_code": "ALG",
                                            "longitude": -5.45279,
                                            "country_code": "ES"
                                        },
                                        "eta": "2014-04-27T00:00:00.000Z",
                                        "port": "Algeciras",
                                        "etd": "2014-04-27T00:00:00.000Z"
                                    },
                                    {
                                        "port_info": {
                                            "latitude": 51.9229,
                                            "port_code": "NLRTM",
                                            "city_code": "RTM",
                                            "longitude": 4.47846,
                                            "country_code": "NL"
                                        },
                                        "eta": "2014-04-30T00:00:00.000Z",
                                        "port": "Rotterdam",
                                        "etd": "2014-05-02T00:00:00.000Z"
                                    }
                                ]
                            }
                        ]
                    
                        
                    