header
  // Start of Header - full width area with class for the headroom JS hiding
  .header.navbar-fixed-top
    // Start of Header Container - the content div that is a set width and centralized
    .header-container
      // Logo - it's the logo image
      .logo
        img(src='/images/logo.png', alt='top logo')
      // End of Logo
      // Menu - You can pretty much guess that the menu div is where the menu is contained
      .menu
        ul
          li
            a.cta(href='/') Home
          li
            a(href='/docs') Docs