extends indexlayout

block content   
    style.
        .send_info{
            background-color: #FFFFFF;
            border: 2px solid #5F7589;
            color: #5F7589;
            display: inline;
            float: left;
            font-family: 'Raleway',sans-serif;
            font-size: 18px;
            margin: 0;
            padding: 15px;
            width: 59%;
            height: 10%;
        }
    // Scroll To Top
    a#toTop(href='#top')
    // HEADER SECTION
    include header
    // TOP SECTION
    // Start of Background - the top image that gets covered when you scroll
    #background
      // Start of Shade - this is the css based gradient over the image for that cool effect
      .shade
        // Start of Main Title + Intro
        .huge-title
          h1 Amfitir Schedules.
          h4 Real Time Ocean Schedules. Open API.
          // Start of Owl Carousel - The carousel can contain anything in each DIV and you can add more but change the settings at the bottom of the page for number of items
          
          // End of Carousel
        // End of Main Title + Intro
        // Start of Scroll Down Message and animation
        #godown.floating
          p Read On. Scroll Down.
          img(src='/images/godown.png', alt='down')
        // End of Scroll Down Message and animation
      // End of Shade
    // End of Background
    // INTRO SECTION
    // Start of Wrapper - the full width container
    .wrapper
      // Start of Container - we use this for parallax on scroll
      .container
        // Start of Content - where the content be
        .content
          // Start of Hero - The main top image like a phone etc
          .hero
            img#phone(src='/images/json-mac.png', alt='phone')
          // End of Hero
          .mobileSpace
          h2 Easy to use API.
          h4 Integrate live ocean sailing schedule data in no time
          p.
              We use open web standards (JSON) to deliver reliable extremely fast ocean sailing schedule data to you. We consolidate 
              schedules from most of the major ocean carriers. You can trust that the data you view is the same as the data published 
              online by the ocean carrier.
          .button-box
            a.button(href='/docs') Click here to vew our API
          .bigspace
        // End of Content
        // 3 COLUMN SECTION
        // Start of Grey Container - the full width container
        .greycontainer
          // Start of Content - where the content be
          .content
            h2 How does this work?
            p
              | We gather ocean sailing schedule data, organize the data and then provide you simple ways to access.
            // Start of 3 rows
            .one_third
              img(src='/images/icon5.png', alt='icon 5')
              h2 Sourcing
              p.
                  We gather data through various methods from all the major carriers.
            .one_third
              img(src='/images/icon6.png', alt='Icon 6')
              h2 Timely
              p.
                A crucial part of our service is to provide the most recent sailing schedule data.
            .one_third_last
              img(src='/images/icon7.png', alt='Icon 7')
              h2 Integrate
              p.
                Our service is extremely easy to integrate. We strive to be simple and easy to use.
        .whitecontainer
          // Start of Content - where the content be
          .content
            h2 Contact Us
            p
              | Send us your thoughts, suggestions, and ideas. We want to know whats important to you!
            // Begin MailChimp Signup Form
            #mc_embed_signup
              form#mc-embedded-subscribe-form.validate
                textarea.send_info(name='send_info', placeholder="send us something...", rows="10")
                .clear
                  input#mc-embedded-subscribe.button(type='submit', value='Send', name='send')
            // End mc_embed_signup
            p.caption We never share your information or use it to spam you.
          // End of Content
        // End of White Container
        // FOLLOW SECTION
        // Start of Grey Container - the full width container
        .greycontainer
          // Start of Content - where the content be
          .content
            h2 Follow us.
            p.
              Keep up with us on social networks. We also would love to hear from you.
            a(href='#')
              i.icon-facebook
            a(href='#')
              i.icon-twitter
          // End of Content
        // End of Grey Container
        // BOTTOM LOGO SECTION
        footer
          // Start of Bottom Logo - Where the logo be
          .bottom-logo
            img(src='/images/bottom_logo.png', alt='bottom logo')
            p Copyright 2014
          // End of Bottom Logo
      // End of Container
    // End of Wrapper

    // Page Script
    script(src="/javascripts/index.js")