doctype html
html
  head
    title=title
    meta(name="google-site-verification", content="GRw1bYYiwlPre3oLjPkwakNpLFRwF858cP-YAdG2PCA")
    link(rel='stylesheet', href='/stylesheets/style.css')
    // Loading of stylesheet for the design 
    link(rel="stylesheet", href="/stylesheets/main.css",)
    // Important external stylesheets
    link(rel="stylesheet", href="/stylesheets/owl.carousel.css")
    link(rel="stylesheet", href="/stylesheets/owl.theme.css")
    link(rel="stylesheet", href="/stylesheets/fontello.css")
    link(rel="stylesheet", href="/stylesheets/jquery.fancybox.css?v=2.1.5")
    link(rel="stylesheet", href="/stylesheets/prettify.css")

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    //- Now we load the JS files for the fancy things on the page 
    script(src="/javascripts/headroom.js")
    script(src="/javascripts/jQuery.headroom.js")
    script(src="/javascripts/owl.carousel.js")
    script(src="/javascripts/jquery.fitvids.js")
    script(src="/javascripts/jquery.fancybox.pack.js?v=2.1.5")
    script(src="/javascripts/retina.js")
    script(src="/javascripts/jquery.scrollToTop.min.js")
    script(src="/javascripts/prettify/run_prettify.js")
    //- Finally we will load the 2 fonts from Google Fonts 
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,200,300,500,600,700', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic', rel='stylesheet')
    


  body
    // Scroll To Top
    a#toTop(href='#top')
    include header
    block content
    
  